#loadings {
    position: static;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: auto;
    width: auto;
  }

#loadings img{
    position: static;
    left: 40%;
    right: 50%;
    top: 50%;
}