#loadings {
    position: fixed;
    left: 30%;
    top: 40%;
    width: 100%;
    height: 100%;
    z-index: 9999;
    /* background-color: #ffffffcf; */
}
#loadings img{
    position: static;
    left: 40%;
    right: 60%;
    top: 50%;
}